
  .first button {
      width: 150px;
      height: 50px;
      margin-top: 10px;
      border: none;
      border-radius: 8px;
      background-color: rgb(17, 102, 14);
      color: #fff;
      cursor: pointer;
      outline: none;
  }

  a{
    display: flex;
    margin-top: 25px;
  }